--swift-version 6.0
--exclude .build,.git,.github,.swiftpm,local,Sources/ChronoCoreTables/NepaliBikramSambatData.swift
--binary-grouping none
--decimal-grouping none
--hex-grouping none
--octal-grouping none
--no-space-operators ...,..<
--pattern-let inline
--semicolons never
--strip-unused-args unnamed-only
--trailing-commas never
--wrap-collections before-first
--wrap-parameters before-first
--extension-acl on-declarations
--doc-comments preserve
--suite-name-format preserve
--test-case-name-format preserve
--disable andOperator,redundantSelf,redundantSendable,redundantSwiftTestingSuite,unusedArguments,wrapPropertyBodies
